.App {
  /* margin: 0 auto; */
  /* width: 1000px; */
  display: grid;
  color: antiquewhite;
  font-size: 30px;
  height: 100vh;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 100px 1fr; /*fr - фракция*/
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
}
.content-wrapper{
  grid-area: c;
  background-color: rgb(238, 0, 255);
}

