.interfaceButton{
    float: left;
    display: block;
    padding-right: 5px;
}
.gameInterface{
    grid-area: i;
    font-size: 22px;
    width: 400px;
    margin: 15px auto;
}
.btn{
    color: coral;
    font-size: 26px;
}
.score{
    float: right;
    padding-right: 10px;
}

.rulls{
    padding: 0;
    margin: 0;
    padding-right: 10px ;
    font-weight: 900;
    font-size: 28px;
    display: inline-block; 
    position: relative; 
}
.rulls:hover::after{
    font-weight: 100;
    color: black;
    content: attr(data-title);
    position: absolute; 
    left: 75%; 
    top: 0%; 
    z-index: 1; 
    background: rgba(255,255,230,0.9); 
    font-family: Arial, sans-serif; 
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #333; 
}